<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../inc/style.ejs') %>
</head>

<body>
  <div class="container m-auto p-3 ">
    <%- include('../inc/admin-header.ejs') %>
      <div class="h-screen flex flex-col mt-5 ">
        <h2 class="font-bold text-3xl text-center  my-10 text-color">Choose Department</h2>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-5  w-full">


          <a href="/categoriesroutes/categories/page"
            class="flex justify-center items-center bg-primary flex-col shadow-lg rounded-xl py-10 border border-b-white">
            <img src="/assets/images/categories.svg" class="w-30 h-30 text-white" alt="Categories">
            <h2 class="text-color font-bold text-lg">Categories</h2>
          </a>


          <a href="/mealsroutes/meals/page"
          class="flex justify-center items-center bg-primary flex-col shadow-lg rounded-xl py-10 border border-b-white">
            <img src="/assets/images/meals.svg" class="w-30 h-30" alt="Categories">
            <h2 class="text-color font-bold text-lg">Meals</h2>
          </a>

          <a href="/offersroutes/offers/page"
          class="flex justify-center items-center bg-primary flex-col shadow-lg rounded-xl py-10 border border-b-white">
            <img src="/assets/images/sale.svg" class="w-30 h-30" alt="Categories">
            <h2 class="text-color font-bold text-lg">Offers</h2>
          </a>



          <a href="/odersroutes/show/orders"
          class="flex justify-center items-center bg-primary flex-col shadow-lg rounded-xl py-10 border border-b-white">
            <img src="/assets/images/orders.svg" class="w-30 h-30" alt="Categories">
            <h2 class="text-color font-bold text-lg">Orders</h2>
          </a>






        </div>
      </div>

  </div>
</body>

</html>